@import url('tokens.css');

body {
    font-family: var(--font-family-base);
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8)
}

h1, h2 {
    text-align: center
}

.token-grid {
    display: grid;
    gap: var(--spacing-8);
    row-gap: var(--spacing-12);
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: var(--spacing-2) var(--spacing-4);
    margin-top: var(--spacing-12)
}

.color-swatch {
    height: 50px;
    width: 50px
}

.token-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-2)
}


.spacing-bar {
    height: 2px;
    background-color: var(--color-primary-700);
    
}

#typography div {
    text-align: center;
}